In [ ]:
understanding the variables in python

In [1]:
x = 2
y = 3

In [2]:
z = x+y

print(z)

5

In [ ]:
 Rules for declaring the variables in python

In [ ]:
Rule No : 1 - No Namespaces while declaring the variables

In [3]:
first name = 'Faiyaz'

print(first name)

SyntaxError: invalid syntax (<ipython-input-3-1cbbde1ec4db>, line 1)

In [4]:
firstname = "Faiyaz"
print(firstname)

Faiyaz

In [ ]:
Rule No 2 : A variable name should not start with a number **

In [5]:
1name = 'kumar'

print(1name)

SyntaxError: invalid syntax (<ipython-input-5-c0ed3150f447>, line 1)

In [6]:
name1 = 'kumar'

print(name1)

kumar

In [ ]:
Rule No 3 : A variable name should not contain any special characters
    
    @$%&

In [7]:
name@ = 'naveen'

print(name@)

SyntaxError: invalid syntax (<ipython-input-7-53b374a526fb>, line 1)

In [ ]:
for executing the cells we have to press Shift + enter button....

In [ ]:
introduction to datatypes in python :
    
    1. String   --- str
    
    2. Number ---- integers (int)and floats ( float) ( decimal)
    
    3. lists ----> list
    
    4. tuples ----> tuple
    
    5. Dictionaries ---- dict

In [ ]:
classification of datatypes in python :
    
    1. Mutable  -----> which we can edit and alter   ======> flexible in nature
    
    2. immutable -----> which we cannot able to edit or alter ====> fixed in Nature

In [ ]:
introduction to string datatype :
    
    
Defination : A string is a series of characters declared in quotes.
    
classification : it is classified as an immutable datatype
    
how to declare the string datatype....?

3 approaches of declaring the string.

1. single quote

2. double quote

3. triple quote.

In [8]:
name1 = 'ravi'   # single quote

print(name1)

ravi

In [9]:
name2 = "john"  # double quote

print(name2)

john

In [10]:
name3 = """keerthi"""  # triple quote

print(name3)

keerthi